.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 50px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin: 5px;
  padding: 10px;
}

.navbar a:hover {
  font-size: 30px;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.right {
  margin-left: auto;
}

.cover {
  height: 100vh;
  display: flex;
}

.cover > img {
  max-width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
}

.card {
  background-color: #444;
  margin: 50px;
}

.card > img {
  max-width: 100%;
  height: auto;
}

.card > .text {
  padding: 0 20px 20px;
}

button {
  cursor: pointer;
  background: grey;
  color: #fff;
  border: 0;
  width: 100%;
}

button:hover {
  background-color: #e0d27b;
}

footer {
  background-color: #30336b;
  text-align: center;
  padding: 3px;
}
